numpy>=1.26.4
napari[all]>=0.6.0
matplotlib
jupyter
ome-zarr
zarr>=3
tifffile
scikit-image
#empanada-napari
#git+https://github.com/volume-em/empanada-napari.git@zarr_2dinference
git+https://github.com/drstone-genius04/empanada-napari.git@fix/export-shape-assertion-duplicate-deps